body{
    margin:0;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
}
.greet{
    color:blueviolet;
    font-size:5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.disc{
    font-size:2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    margin-top:-3%;
    text-align:center;
}
img{
    z-index:10;
    width:400px;
}
.container{
    display: flex;
    justify-content: space-around;
    gap:10px;

}

.instruct{
    font-size:1.5rem;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}